<sub-navbar>
  <md-button class="md-icon-button" aria-label="Add application" ng-click="alc.openAddDialog($event)">
    <md-icon>add</md-icon>
  </md-button>
</sub-navbar>

<md-content>


  <div layout="row" layout-padding layout-wrap layout-fill ng-cloak>
    <md-whiteframe ui-sref="apps.details({ app_id: app.id })" ng-repeat="app in alc.apps"
                   class="{{app.status}}-status md-whiteframe-2dp app-box" flex-sm="50"
                   flex-gt-sm="25" layout
                   layout-align="center center">
      <md-whiteframe-content>
        <span class="md-title">{{app.name}}</span>
        <p class="md-body-1">{{app.status}}</p>
        <p class="md-body-1" ng-show="app.status=='preparing'">
          {{app.readyCount + '/' + app.organs.length}} organs ready
        </p>
      </md-whiteframe-content>
    </md-whiteframe>


  </div>
</md-content>
