<md-toolbar layout="row">

  <section layout="row" layout-align="center center">
    <md-button aria-label="Home" ui-sref-active="md-raised" ng-show="vm.isAuth()" ui-sref="home">
      Home
    </md-button>
    <md-button aria-label="Apps" ui-sref-active="md-raised" ng-show="vm.isAuth()" ui-sref="apps.list">
      Apps
    </md-button>
    <md-button aria-label="Infrastructure" ui-sref-active="md-raised" ng-show="vm.isAuth()" ui-sref="infrastructure">
      Infrastructure
    </md-button>
    <md-button aria-label="app-dashboard" ui-sref-active="md-raised" ng-show="vm.isAuth()" ui-sref="dashboard">
      Dashboard
    </md-button>
  </section>

  <span flex></span>
  <section layout="row" layout-align="end center">
    <md-button class="md-fab md-mini" aria-label="Notifications">
      <md-icon>notifications</md-icon>
    </md-button>
    <md-button class="md-fab md-mini" aria-label="Settings">
      <md-icon>settings</md-icon>
    </md-button>
  </section>

  <section layout="row" layout-align="end center">
    <md-menu md-position-mode="target-right target">
      <md-button class="md-raised md-accent" aria-label="Login / Sign up" ng-click="vm.openMenu($mdOpenMenu, $event)">
        <md-icon ng-hide="vm.isAuth()">person_outline</md-icon>
        <div ng-show="vm.isAuth()">
          <md-icon>person</md-icon>
          {{ vm.isAuth().name }}
        </div>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item ng-hide="vm.isAuth()">
          <md-button ng-click="vm.openLogin()">
            <md-icon>exit_to_app</md-icon>
            Log in
          </md-button>
        </md-menu-item>
        <md-menu-item ng-hide="vm.isAuth()">
          <md-button ng-click="vm.openSignup()">
            <md-icon>add</md-icon>
            Sign up
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="vm.isAuth()">
          <md-button ng-click="vm.logout()">
            <md-icon>power_settings_new</md-icon>
            Log out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </section>

</md-toolbar>
