<md-toolbar layout="row" layout-align="center center">

  <section flex layout="row" layout-align="end">
    <md-button class="md-fab md-mini" aria-label="Notifications">
      <md-icon>notifications</md-icon>
    </md-button>
    <md-button class="md-fab md-mini" aria-label="Settings">
      <md-icon>settings</md-icon>
    </md-button>
  </section>
  <md-menu md-position-mode="target-right target">
    <md-button class="md-fab md-mini" aria-label="Login / Sign up" ng-click="vm.openMenu($mdOpenMenu, $event)">
      <md-icon ng-hide="vm.isAuth()">person_outline</md-icon>
      <md-icon ng-show="vm.isAuth()">person</md-icon>
    </md-button>
    <md-menu-content>
      <md-menu-item ng-hide="vm.isAuth()">
        <md-button ng-click="vm.openLogin()">
          <md-icon>exit_to_app</md-icon>
          Log in
        </md-button>
      </md-menu-item>
      <md-menu-item ng-hide="vm.isAuth()">
        <md-button ng-click="vm.signup()">
          <md-icon>add</md-icon>
          Sign up
        </md-button>
      </md-menu-item>
      <md-menu-item ng-show="vm.isAuth()">
        <md-button ng-click="vm.logout()">
          <md-icon>adll_out</md-icon>
          Log out
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

</md-toolbar>
