<div ui-view></div>



<!--Create Policy-->



<div  layout-margin>

  <div ng-cloak layout="column" >

    <md-toolbar class="md-hue-1">
      <div layout="row" flex-gt-sm="95">
        <h2 class="md-toolbar-tools" >
          <span>Add new policy</span>
        </h2>
        <md-button class="md-mini md-fab md-primary" ng-click="policy.savePolicy()">
          <md-icon >save</md-icon>
          <md-tooltip md-direction="bottom">
            Save
          </md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-content layout-padding="">
      <form name="createPolicy">

        <!-- 3rd block, Repeat rows of rules  row in policy.test_rule.rules track by $index , row in policy.rows -->
        <div layout-gt-sm="row" ng-repeat="row in policy.new_policy.rules track by $index" ng-model="policy.newPolicy.rule" layout-margin>

          <md-input-container class="md-block" flex-gt-xs="10">
            <label>Weight</label>
            <md-select ng-model="row.weight">
              <md-option ng-repeat="weight in policy.weights">
                {{weight}}
              </md-option>
            </md-select>
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm=""><!-- Spacer //--></div>

          <md-input-container class="md-block" flex-gt-xs="30" >
            <label>Metric</label>
            <md-select ng-model="row.metric" ng-change="policy.selectChanged(row.metric)">
              <md-option name="metric_box" ng-repeat="metric in policy.metrics" value="{{metric.id}}">
                {{metric.name}}
              </md-option>
            </md-select>

          </md-input-container>

          <div flex="5" hide-xs="" hide-sm=""><!-- Spacer //--></div>

          <md-input-container class="md-block" flex-gt-xs="20">
            <label>Select Organ</label>
            <md-select ng-model="row.organs[0].organ_id" multiple>
              <md-option ng-repeat="organ in policy.organs" value = {{organ.id}}>
                {{organ.label}}
              </md-option>
            </md-select>
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm=""><!-- Spacer //--></div>

          <md-input-container class="md-block" flex-gt-xs="20">
            <label>Operator</label>
            <md-select ng-model="row.operator">
              <md-option value="{{option.id}}" ng-repeat="option in policy.operator" > <!--value="{{metric}}"-->
                {{option.name}}
              </md-option>
            </md-select>
          </md-input-container>


          <div flex="5" hide-xs="" hide-sm=""><!-- Spacer //--></div>

          <md-input-container class="md-block" flex-gt-xs="20">
            <label>Value</label>
            <input required="" title="value" type="number" step={{policy.metric_selected.step}} min={{policy.metric_selected.min}} max={{policy.metric_selected.max}} name="value" ng-model="row.value">
            <div ng-messages="createPolicy.value.$error" multiple md-auto-hide="false" role="alert">
              <div ng-message="required">
                {{policy.metric_selected.input}}
              </div>
              <div ng-message="max">
                Woah! That's a tad too big. Enter something smaller
              </div>
              <div ng-message="min">
                Can't run a car without fuel. Enter something bigger!
              </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <md-button class="md-icon-button" ng-click="policy.addRow()">
              <md-icon>add</md-icon>
              <md-tooltip md-direction="bottom">
                Add a new row
              </md-tooltip>
            </md-button>

          </md-input-container>

        </div>


      </form>
    </md-content>

  </div>

</div>



<!--Show Policy-->


<div layout-margin>
  <div ng-cloak layout="column" >

    <md-toolbar class="md-hue-1"> <!--md-theme-light-->
      <div layout="row" flex-gt-sm="95">
        <h2 class="md-toolbar-tools" >
          <span>Select policies to be removed</span>
        </h2>
        <md-button class=" md-fab md-mini" ng-click="policy.deletePolicy(policy.rules)"><!--md-icon-button-->
          <md-icon >delete</md-icon>
          <md-tooltip md-direction="bottom">
            Delete
          </md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-content>
      <md-list>
        <md-list-item class="md-3-line" ng-cloak ng-repeat="rule in policy.rules track by $index">
          <div class="md-list-item-text">
            <md-subhead>Metric: {{rule.metric}}</md-subhead>
            <p>Operator: {{rule.operator}}, Value: {{rule.value}} , Weight: {{rule.weight}}</p>
            Organs:
            <p>
              <div style="float:left" ng-repeat="item in rule.organs">
                <p>{{item.originalName}} , </p>
              </div>
            </p>
          </div>
          <md-checkbox ng-model="rule.selected" ng-init="rule.selected = false"></md-checkbox>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>

    </md-content>
  </div>







