<div layout="column" layout-fill>

  <header>
    <acme-navbar></acme-navbar>
  </header>

  <md-content>
    <div layout="row" layout-align="end center">
      <md-button class="md-fab add-button" aria-label="Add application" ng-click="ac.openAddDialog($event)">
        <md-icon>add</md-icon>
      </md-button>
    </div>


    <div layout="row">
      <md-card ng-repeat="app in ac.apps" layout-padding>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{app.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          {{app.status}}
        </md-card-content>
      </md-card>
    </div>
  </md-content>

</div>
