
<div layout="column" class="dashboard-page" layout-gt-md="row" layout-fill>
  <div flex="15" class="dashboard-menu" layout="column" layout-fill>

    <md-subheader class="md-no-sticky">App Menu</md-subheader>
    <md-list-item ng-click="dc.showAlert($event)">
      <md-icon>home</md-icon>
      <p>Overview</p>
    </md-list-item><md-divider></md-divider>
    <md-list-item ng-click="navigateTo('whatever', $event)">
      <md-icon>settings_input_component</md-icon>
      <p>Policy</p>
    </md-list-item><md-divider></md-divider>
    <md-list-item ng-click="navigateTo('whatever', $event)">
        <md-icon>trending_up</md-icon>
      <p>Analytics</p>
    </md-list-item><md-divider></md-divider>
    <md-list-item ng-click="navigateTo('whatever', $event)">
      <md-icon>replay</md-icon>
      <p>History</p>
    </md-list-item><md-divider></md-divider>
    <md-list-item ng-click="navigateTo('whatever', $event)">
      <md-icon>notifications</md-icon>
      <p>Alerts</p>
    </md-list-item><md-divider></md-divider>
    <md-list-item ng-click="navigateTo('whatever', $event)">
      <md-icon>settings</md-icon>
      <p>Settings</p>
    </md-list-item><md-divider></md-divider>
  </div>

  <div flex="85" class="md-whiteframe-1dp" layout="column" layout-fill
       layout-align="start center">

  </div>
</div>
